# Linters for code quality and style checking
flake8==7.3.0
flake8-annotations==3.2.0
flake8-bugbear==25.11.29
flake8-docstrings==1.7.0
flake8-docstrings-complete==1.4.1
flake8_import_order==0.19.2

# PostgreSQL database adapter for Python
psycopg[binary]

# Log printing
rich
